.aboutUs {
  padding: 0 30px 27px 30px;
}

.aboutUs__list {
  @include clear-list();
  @include text-size(17px, 20px);
}

.aboutUs__item {
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .aboutUs {
    padding: 26px 50px 82px 50px;
  }

  .aboutUs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutUs__item {
    padding-top: 50px;
    width: 50%;

    @include text-size(20px, 22px);

    &--flower {
      order: -4;
    }

    &--ball {
      order: -3;
    }

    &--money {
      order: -2;
    }

    &--rocket {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .aboutUs {
    padding: 36px 50px 89px 200px;
  }
}
