.button {
  margin-top: 25px;
  padding: 14px 0;
  width: 260px;
  display: inline-block;
  box-sizing: border-box;

  @include text-size(18px, 20px);
  color: $greyish-brown;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 2px solid $greyish-brown;

  cursor: pointer;

  &:hover {
    color: $white;

    background-color: $greyish-brown;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $greyish-brown;
  }

  &--video {
    width: 192px;

    @include text-size(17px, 16px);
  }
}

.button.reviews__write {
  margin-top: 38px;
}

.button.order__button {
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 17px;
  }

  .button--video {
    margin-top: 40px;
    width: 100%;
    height: 52px;

    align-self: center;
  }

  .button.reviews__write {
    order: -1;

    width: 175px;
    height: 52px;
  }

  .button.contacts__write {
    width: 230px;
  }

  .button.order__button {
    margin-top: 0;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .button--video {
    width: 230px;
  }
}
