.contacts__wrapper,
.contacts__wrapper-button {
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  padding-top: 37px;

  @include text-size(18px);
}

.contacts__list {
  @include clear-list();

  padding-top: 26px;
}

.contacts__item {
  display: flex;

  @include text-size(15px);
  font-weight: $weight;
  color: $greyish-brown;

  &:not(:last-child) {
    padding-bottom: 30px;
  }
}

.contacts__name {
  padding-right: 30px;
}

.contacts__link {
  color: $greyish-brown;

  &:hover {
    color: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  padding-top: 37px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 0 90px 0 50px;
  }

  .contacts__wrapper-button {
    display: flex;
    justify-content: center;
  }

  .contacts__title {
    padding-top: 62px;

    @include text-size(43px, 50px);
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;

    padding-top: 49px;
  }

  .contacts__item {
    @include text-size(17px);

    &:not(:last-child) {
      padding-bottom: 59px;
    }
  }

  .contacts__name {
    padding-right: 22px;
  }

  .contacts__map {
    padding-top: 56px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 104px;
    padding-top: 129px;
    padding-left: 175px;
  }

  .contacts__title {
    padding-top: 102px;

    @include text-size(53px, 57px);
  }

  .contacts__list {
    flex-direction: column;

    padding-bottom: 32px;
  }

  .contacts__item:not(:last-child) {
    padding-bottom: 30px;
  }

  .contacts__map {
    position: absolute;
    right: 51px;
    bottom: -4px;

    width: 525px;
  }

  .contacts__wrapper-button {
    justify-content: flex-start;

    padding: 0 50px;
  }
}
