.hit::after {
  content: "";

  display: block;

  padding: 0;
  margin: 0;
  height: 6px;

  background-repeat: repeat no-repeat;
  background-size: contain;
  background-image: url("../img/bg-zigzag-line.svg");
}

.hit__wrapper {
  padding: 0 30px;
}

.hit__title {
  padding-bottom: 4px;
}

.hit__text {
  @include text-size(17px, 20px);
  color: $primary-color;
  text-transform: uppercase;
}

.hit__container {
  padding: 21px 30px 0 30px;
}

.hit__description {
  margin: 0;
  width: 249px;

  @include text-size(15px, 24px);
  font-weight: $weight;
  color: $greyish-brown;
}

.hit__table {
  margin-top: 20px;
  width: 100%;

  border-collapse: collapse;
}

.hit__cell {
  padding: 9px 0;
  min-width: 81px;

  @include text-size(15px, 20px);
  font-weight: $weight;
  color: $greyish-brown;

  border-bottom: 1px solid $grey;
}

.hit__image {
  display: block;

  padding-top: 28px;
}

.hit__column-bottom {
  margin-bottom: 37px;
}

.hit__cost {
  margin: 0;
  padding: 0;
  padding-top: 26px;

  @include text-size(17px, 24px);
  color: $greyish-brown;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hit::after {
    height: 15px;

    background-repeat: repeat no-repeat;
    background-size: contain;
  }

  .hit__wrapper {
    display: flex;
    justify-content: space-between;

    padding: 0 50px;
  }

  .hit__text {
    width: 70px;
    padding: 57px 28px 0 0;

    line-height: 17px;
    text-align: center;
  }

  .hit__container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 45px 50px 52px 50px;
  }

  .hit__column-left {
    width: 50%;
  }

  .hit__description {
    width: 282px;

    @include text-size(17px, 30px);
  }

  .hit__table {
    margin-top: 36px;
    width: 291px;
  }

  .hit__cell {
    min-width: 68px;
  }

  .hit__column-right {
    margin-top: 8px;
    width: 50%;
  }

  .hit__image {
    padding: 0;
  }

  .hit__column-bottom {
    position: absolute;
    bottom: 15px;
  }

  .hit__cost {
    font-size: 20px;
  }

  .hit .hit__order {
    margin-top: 35px;
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .hit {
    max-width: 1150px;
  }

  .hit::after {
    margin: 0 50px;
    height: 23px;

    background-position-x: 25px;
  }

  .hit__wrapper {
    position: relative;
    z-index: 3;

    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    padding: 78px 50px 0 96px;
  }

  .hit__text {
    padding: 50px 58px 0 0;
  }

  .hit__container {
    padding-bottom: 75px;
  }

  .hit__column-left {
    box-sizing: border-box;

    padding-left: 175px;
  }

  .hit__table {
    margin-top: 49px;
  }

  .hit__column-right {
    margin-top: -158px;
  }

  .hit__column-bottom {
    bottom: 38px;

    padding-left: 175px;
  }
}
