.order {
  padding: 0 $indent;
}

.order__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.order__fieldset-name {
  padding-top: $indent;

  @include text-size(17px, 16px);
  color: $primary-color;
  text-transform: uppercase;

  &--group {
    padding-bottom: 33px;
  }

  &--contacts {
    padding-bottom: 9px;
  }
}

.order__list {
  @include clear-list();

  padding-top: 35px;
}

.order__list-item {
  &--radio:not(:last-child) {
    padding-bottom: 25px;
  }

  &--checkbox:not(:last-child) {
    padding-bottom: 46px;
  }
}

.order__group-list {
  @include clear-list();
}

.order__input-item:not(:last-child) {
  margin-bottom: 24px;
}

.order__input {
  box-sizing: border-box;

  width: 260px;
  height: 52px;

  border: none;
  border-bottom: 2px solid $black;
}

.order__comment {
  box-sizing: border-box;

  margin-top: 23px;
  padding: 17px;
  width: 260px;
}

.order__text {
  @include text-size(14px, 16px);
  font-weight: $weight;
  color: $greyish-brown;
}

.order__button {
  @include text-size(17px, 16px);
  font-weight: bold;
}
