.page-header {
  margin: 0 auto;

  position: relative;
  z-index: 3;

  background-color: $white;
}

.main-nav {
  position: relative;

  width: 100%;
}

.main-nav__top {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5px;
  width: 100%;

  box-shadow: 0 1px 0 0 $grey, inset 0 1px 0 0 $grey;
}

.page-header__logo {
  padding: 17px 67px;
}

.page-header__logo[href] .page-header__logo-image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  margin: -7px -24px 0 0;
  padding: 0;
  width: 25px;
  height: 25px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &--open::before {
    content: "";

    position: absolute;
    top: 32px;
    right: 30px;

    width: 20px;
    height: 2px;

    background-color: $black;
    box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
  }

  &--close::before,
  &--close::after {
    content: "";

    position: absolute;
    top: 37px;
    right: 30px;

    width: 20px;
    height: 2px;

    background-color: $black;
  }

  &--close::before {
    transform: rotate(45deg);
  }

  &--close::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include clear-list();

  &--add-nav {
    display: none;
  }
}

.main-nav__item {
  padding: 30px 0;
  padding-left: 77px;

  box-shadow: 0 1px 0 0 $grey, inset 0 1px 0 0 $grey;

  &--search-icon,
  &--basket-icon {
    position: absolute;
    left: 32px;

    fill: #231f20;

    opacity: 0.2;
  }

  &:hover {
    .main-nav__link-text {
      opacity: 0.6;
    }
  }

  &:active {
    .main-nav__link-text {
      opacity: 0.3;
    }
  }

  &--search,
  &--basket {
    position: relative;

    &:hover {
      svg {
        fill: $primary-color;

        opacity: 1;
      }
    }

    &:active {
      svg {
        fill: $primary-color;

        opacity: 0.3;
      }
    }
  }
}

.main-nav__link {
  @include text-size(17px, 24px);
  color: $black;
}

.main-nav__text {
  display: none;

  margin: 0;
  padding: 0;

  @include text-size(15px, 24px);
  font-weight: $weight;
  color: $greyish-brown;
}

@media (max-width: $mobile-width-only) {
  .main-nav__toggle--nojs {
    display: none;
  }

  .main-nav__bottom {
    display: none;

    &--nojs {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin: 0 50px;

    background-color: transparent;
  }

  .main-nav {
    box-sizing: border-box;

    background-color: transparent;
  }

  .main-nav__top {
    position: absolute;

    width: 112px;

    justify-content: flex-start;

    box-shadow: none;
  }

  .page-header__logo {
    margin-left: 0;
    padding-left: 0;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--site-nav .main-nav__item {
      padding: 17px 35px 32px 0;
    }

    &--user-nav {
      justify-content: flex-end;
      order: -1;

      width: 100%;
    }

    &--add-nav {
      display: none;
    }
  }

  .main-nav__item {
    box-shadow: none;

    &:first-child {
      padding-left: 0;
    }

    &--search,
    &--basket {
      border-left: 1px solid $grey;
    }

    &--search {
      padding-top: 37px;
      width: 82px;
    }

    &--basket {
      padding-top: 31px;
      padding-left: 83px;
      height: 27px;
    }

    &--basket-icon {
      padding-top: 4px;
    }
  }

  .main-nav__link--site-nav {
    @include text-size(15px, 24px);
  }

  .main-nav__link-text--search {
    display: none;
  }

  .main-nav__text {
    display: block;

    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin: 0 auto;
    max-width: 1150px;
  }

  .main-nav {
    padding: 0 50px;
  }

  .main-nav__top {
    left: 500px;

    padding-top: 9px;
    width: 149px;
    height: auto;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__list {
    &--site-nav {
      order: -2;
    }

    &--site-nav .main-nav__item {
      padding: 31px 35px 32px 35px;

      &:first-child {
        padding-left: 0;
      }
    }

    &--site-nav .main-nav__item:not(:last-child) {
      border-right: 1px solid $grey;
    }

    &--user-nav {
      width: 50%;
    }

    &--add-nav {
      display: flex;
    }

    &--add-nav .main-nav__item {
      padding-top: 18px;
      padding-left: 62px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .main-nav__link {
    &--site-nav {
      @include text-size(17px, 24px);
    }

    &--add-nav {
      @include text-size(15px, 24px);
    }
  }

  .main-nav__text {
    padding-top: 18px;
  }
}
