.products {
  padding: 0 30px;
}

.products__list {
  display: flex;
  flex-direction: column;

  @include clear-list();
}

.products__item {
  padding-top: 30px;

  width: 260px;
}

.products__item-image {
  display: block;
}

.products__item-description {
  padding: 26px 30px 28px 27px;
  width: 260px;

  box-sizing: border-box;
  border: 1px solid $grey;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    .products__item-title {
      opacity: 0.6;
    }

    svg {
      fill: $primary-color;

      opacity: 1;
    }
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    .products__item-title,
    svg {
      opacity: 0.3;
    }
  }
}

.products__item-title {
  @include text-size(17px, 24px);
  color: $black;
  text-decoration: none;
}

.products__item-text {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;

  @include text-size(13px, 30px);
  font-weight: $weight;
  color: $greyish-brown;
}

.products__item-buy {
  display: flex;
  justify-content: space-between;

  padding-top: 19px;

  border-top: 1px solid $grey;
}

.products__item-link {
  margin: 0;
  padding: 0;

  cursor: pointer;

  svg {
    fill: #231f20;

    opacity: 0.2;
  }
}

.products__item-cost {
  @include text-size(15px, 24px);
}

@media (min-width: $tablet-width) {
  .products {
    padding: 39px 50px 0 50px;
  }

  .products__list {
    padding-top: 30px;
  }

  .products__item {
    display: flex;

    padding-top: 0;
    width: auto;

    &:not(:last-child) {
      padding-bottom: 54px;
    }
  }

  .products__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
  }

  .products__item-title {
    font-size: 20px;
  }

  .products__item-text {
    padding-top: 4px;

    font-size: 15px;
  }

  .products__item-buy {
    padding-top: 20px;
  }

  .products__item-cost {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding-top: 101px;
  }

  .products__list {
    flex-direction: row;
  }

  .products__item {
    flex-direction: column;

    padding-right: 50px;
    width: 316px;
    height: auto;
  }

  .products__item-image {
    width: 316px;
  }

  .products__item-description {
    width: 100%;
    height: 197px;
  }

  .products__item-text {
    padding-bottom: 0;
  }
}
