.products {
  padding-left: $indent;
}

.products__list {
  display: flex;
  flex-direction: column;

  @include clear-list();
}

.products__item {
  padding-top: $indent;

  width: 260px;
}

.products__item-image {
  display: block;
}

.products__item-description {
  padding: $indent;
  width: 260px;

  box-sizing: border-box;

  border: 1px solid #ececec;
}

.products__item-title {
  @include text-size(17px, 24px);
  color: $black;
  text-decoration: none;
}

.products__item-text {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 55px;

  @include text-size(13px, 30px);
  font-weight: $weight;
  color: $greyish-brown;
}

.products__item-cost {
  @include text-size(15px, 24px);
}

@media (min-width: $tablet-width) {
  .products__item {
    display: flex;

    width: auto;
    height: 334px;
  }

  .products__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
  }

  .products__item-title {
    font-size: 20px;
  }

  .products__item-text {
    font-size: 15px;
  }

  .products__item-buy {
    display: flex;
  }

  .products__item-cost {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    flex-direction: row;
  }

  .products__item {
    flex-direction: column;

    padding-right: 50px;
    width: 316px;
    height: auto;
  }

  .products__item-description {
    width: 100%;
  }
}
