.social__list {
  display: flex;

  @include clear-list();

  padding-bottom: 10px;
}

.social__item {
  padding: 0 18px;
}

.social__link {
  width: 23px;
  height: 40px;
  display: block;

  background-repeat: no-repeat;
  background-position: center;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 25px;
  }

  .social__item:not(:nth-child(2)) {
    padding-top: 7px;
  }
}
