.social__list {
  display: flex;

  @include clear-list();

  padding-top: 25px;
  padding-left: 20px;
}

.social__link {
  width: 23px;
  height: 40px;
  display: block;

  margin-right: 40px;

  background-repeat: no-repeat;
  background-position: center;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 25px;
  }
}
