.title {
  margin: 0;
  padding-top: 28px;

  @include text-size;
}

@media (min-width: $tablet-width) {
  .title {
    padding-top: 45px;

    @include text-size(43px, 50px);
  }
}

@media (min-width: $desktop-width) {
  .title {
    @include text-size(53px, 57px);
  }
}
