body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2"); }

.page-header {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  background-color: #ffffff; }

.main-nav {
  position: relative;
  width: 100%; }

.main-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  width: 100%;
  -webkit-box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
          box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec; }

.page-header__logo {
  margin-left: 24px;
  padding: 16px 67px; }

.page-header__logo[href] .page-header__logo-image:hover {
  opacity: 0.6; }

.page-header__logo[href] .page-header__logo-image:active {
  opacity: 0.3; }

.main-nav__toggle {
  margin: 0;
  margin-top: -7px;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  border: none;
  cursor: pointer; }
  .main-nav__toggle--close {
    background-image: url("../img/icon-menu-close.svg"); }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .main-nav__list--add-nav {
    display: none; }

.main-nav__item {
  padding: 30px 0;
  padding-left: 77px;
  -webkit-box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
          box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec; }
  .main-nav__item--search-icon, .main-nav__item--basket-icon {
    position: absolute;
    left: 32px;
    fill: #231f20;
    opacity: 0.2; }
  .main-nav__item:hover .main-nav__link-text {
    opacity: 0.6; }
  .main-nav__item:active .main-nav__link-text {
    opacity: 0.3; }
  .main-nav__item--search, .main-nav__item--basket {
    position: relative; }
    .main-nav__item--search:hover svg, .main-nav__item--basket:hover svg {
      fill: #63d1bb;
      opacity: 1; }
    .main-nav__item--search:active svg, .main-nav__item--basket:active svg {
      fill: #63d1bb;
      opacity: 0.3; }

.main-nav__link {
  font-size: 17px;
  line-height: 24px;
  color: #000000; }

.main-nav__text {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444; }

@media (max-width: 767px) {
  .main-nav__bottom {
    display: none; } }

@media (min-width: 768px) {
  .page-header {
    margin: 0 50px;
    background-color: transparent; }
  .main-nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: transparent; }
  .main-nav__top {
    position: absolute;
    width: 112px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .page-header__logo {
    margin-left: 0;
    padding-left: 0; }
  .page-header__logo-image {
    width: 112px;
    height: 46px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-nav__list--site-nav .main-nav__item {
      padding: 17px 35px 32px 0; }
    .main-nav__list--user-nav {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      width: 100%; }
    .main-nav__list--add-nav {
      display: none; }
  .main-nav__item {
    -webkit-box-shadow: none;
            box-shadow: none; }
    .main-nav__item:first-child {
      padding-left: 0; }
    .main-nav__item--search, .main-nav__item--basket {
      border-left: 1px solid #ececec; }
    .main-nav__item--search {
      padding-top: 37px;
      width: 82px; }
    .main-nav__item--basket {
      padding-top: 31px;
      padding-left: 83px;
      height: 27px; }
    .main-nav__item--basket-icon {
      padding-top: 4px; }
  .main-nav__link--site-nav {
    font-size: 15px;
    line-height: 24px; }
  .main-nav__link-text--search {
    display: none; }
  .main-nav__text {
    display: block;
    padding-top: 18px; } }

@media (min-width: 1150px) {
  .page-header {
    margin: 0 auto;
    max-width: 1150px; }
  .main-nav {
    padding: 0 50px; }
  .main-nav__top {
    left: 500px;
    padding-top: 9px;
    width: 149px;
    height: auto; }
  .page-header__logo {
    padding: 0; }
  .page-header__logo-image {
    width: 149px;
    height: 72px; }
  .main-nav__list--site-nav {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; }
  .main-nav__list--site-nav .main-nav__item {
    padding: 31px 35px 32px 35px; }
    .main-nav__list--site-nav .main-nav__item:first-child {
      padding-left: 0; }
  .main-nav__list--site-nav .main-nav__item:not(:last-child) {
    border-right: 1px solid #ececec; }
  .main-nav__list--user-nav {
    width: 50%; }
  .main-nav__list--add-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav__list--add-nav .main-nav__item {
    padding-top: 18px;
    padding-left: 62px; }
    .main-nav__list--add-nav .main-nav__item:first-child {
      padding-left: 0; }
  .main-nav__link--site-nav {
    font-size: 17px;
    line-height: 24px; }
  .main-nav__link--add-nav {
    font-size: 15px;
    line-height: 24px; }
  .main-nav__text {
    padding-top: 18px; } }

.page-main__title {
  margin: 0;
  padding: 74px 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1; }

.page-main__text {
  margin: 0;
  padding: 30px 30px 0 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444; }
  .page-main__text--form {
    padding-top: 23px; }

@media (min-width: 768px) {
  .page-main__title {
    position: relative;
    margin-top: -73px;
    padding: 95px 0 90px 0;
    font-size: 43px;
    line-height: 50px;
    border-top: 1px solid #ececec; }
  .page-main__title::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 24px;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("../img/bg-zigzag-fill.svg"); }
  .page-main__text {
    padding: 68px 50px 0 50px;
    font-size: 17px;
    line-height: 30px; }
    .page-main__text--form {
      padding-top: 62px; } }

@media (min-width: 1150px) {
  .page-main {
    margin: 0 auto;
    max-width: 1150px; }
  .page-main__title {
    padding-bottom: 100px;
    font-size: 53px;
    line-height: 57px; }
  .page-main__title::after {
    bottom: -20px;
    height: 34px;
    background-position-x: 57px; }
  .page-main__text {
    padding: 112px 225px 14px 225px; }
    .page-main__text--form {
      padding-top: 124px; } }

.promo {
  background-color: #fafafa; }

.promo__container {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo__container {
      background-image: url("../img/hero-mobile@2x.jpg"); } }

.promo__title {
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 72px 30px 193px 30px; }

.promo__button-wrapper {
  margin-top: -72px; }

.promo__button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 103px;
  padding: 26px 0 0 30px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #63d1bb; }
  .promo__button:hover {
    background-color: #59d5bc; }
    .promo__button:hover .promo__button-icon {
      fill: #231f20;
      opacity: 0.7; }
  .promo__button:active {
    color: rgba(255, 255, 255, 0.3); }
    .promo__button:active .promo__button-icon {
      opacity: 0.3; }
  .promo__button--lego {
    background-color: #56c3b2; }
    .promo__button--lego:hover, .promo__button--lego:active {
      background-color: #46c1ae; }

.promo__button-icon {
  position: absolute;
  opacity: 0.5;
  fill: #149080; }
  .promo__button-icon--lamp {
    top: 25px;
    right: 36px; }
  .promo__button-icon--lego {
    top: 22px;
    right: 28px; }

@media (min-width: 768px) {
  .promo {
    margin-top: -73px;
    border-top: 1px solid #ececec; }
  .promo__container {
    width: 100%;
    height: auto;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 1%;
    background-size: 1150px 746px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .promo__container {
      background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .promo__title {
    padding-top: 153px;
    padding-bottom: 470px;
    font-size: 43px;
    line-height: 50px; }
  .promo__button-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -97px;
    padding: 0 50px; }
  .promo__button-wrapper::after {
    position: absolute;
    bottom: -12px;
    left: 0;
    content: "";
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 24px;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("../img/bg-zigzag-fill.svg"); }
  .promo__button {
    padding: 28px 0 0 35px;
    width: 50%;
    height: 119px;
    font-size: 20px;
    line-height: 30px; }
  .promo__button-icon--lamp {
    top: 29px; }
  .promo__button-icon--lego {
    top: 31px;
    right: 34px; } }

@media (min-width: 1150px) {
  .promo {
    margin-top: -73px; }
  .promo__container {
    background-image: url("../img/hero-desktop@1x.jpg"); }
  .promo__title {
    font-size: 53px;
    line-height: 57px; }
  .promo__button-wrapper {
    margin-top: -110px; }
  .promo__button-wrapper::after {
    bottom: -20px;
    height: 37px;
    background-position-x: 75px; } }

.hit::after {
  content: "";
  display: block;
  padding: 0;
  margin: 0;
  height: 6px;
  background-repeat: repeat no-repeat;
  background-size: contain;
  background-image: url("../img/bg-zigzag-line.svg"); }

.hit__wrapper {
  padding: 0 30px; }

.hit__title {
  padding-bottom: 4px; }

.hit__text {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }

.hit__container {
  padding: 21px 30px 0 30px; }

.hit__description {
  margin: 0;
  width: 249px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444; }

.hit__table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse; }

.hit__cell {
  padding: 9px 0;
  min-width: 81px;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
  border-bottom: 1px solid #ececec; }

.hit__image {
  display: block;
  padding-top: 28px; }

.hit__column-bottom {
  margin-bottom: 37px; }

.hit__cost {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center; }

@media (min-width: 768px) {
  .hit::after {
    height: 15px;
    background-repeat: repeat no-repeat;
    background-size: contain; }
  .hit__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px; }
  .hit__text {
    width: 70px;
    padding: 57px 28px 0 0;
    line-height: 17px;
    text-align: center; }
  .hit__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 45px 50px 52px 50px; }
  .hit__column-left {
    width: 50%; }
  .hit__description {
    width: 282px;
    font-size: 17px;
    line-height: 30px; }
  .hit__table {
    margin-top: 36px;
    width: 291px; }
  .hit__cell {
    min-width: 68px; }
  .hit__column-right {
    margin-top: 8px;
    width: 50%; }
  .hit__image {
    padding: 0; }
  .hit__column-bottom {
    position: absolute;
    bottom: 15px; }
  .hit__cost {
    font-size: 20px; }
  .hit .hit__order {
    margin-top: 35px;
    width: 292px; } }

@media (min-width: 1150px) {
  .hit {
    max-width: 1150px; }
  .hit::after {
    margin: 0 50px;
    height: 23px;
    background-position-x: 25px; }
  .hit__wrapper {
    position: relative;
    z-index: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 78px 50px 0 96px; }
  .hit__text {
    padding: 50px 58px 0 0; }
  .hit__container {
    padding-bottom: 75px; }
  .hit__column-left {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 175px; }
  .hit__table {
    margin-top: 49px; }
  .hit__column-right {
    margin-top: -158px; }
  .hit__column-bottom {
    bottom: 38px;
    padding-left: 175px; } }

.title {
  margin: 0;
  padding-top: 28px;
  font-size: 25px;
  line-height: 30px; }

@media (min-width: 768px) {
  .title {
    padding-top: 45px;
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px; } }

.button {
  margin-top: 25px;
  padding: 14px 0;
  width: 260px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid #444444;
  cursor: pointer; }
  .button:hover {
    color: #ffffff;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444; }
  .button--video {
    padding: 16px 0;
    width: 192px;
    font-size: 17px;
    line-height: 16px; }

.button.reviews__write {
  margin: 38px 0 43px 0; }

.button.contacts__write {
  margin-top: 36px; }

.button.order__button {
  margin-top: 31px;
  padding: 16px 0; }

@media (min-width: 768px) {
  .button {
    font-size: 17px; }
  .button--video {
    margin-top: 35px;
    width: 100%;
    height: 52px;
    -ms-flex-item-align: center;
        align-self: center; }
  .button.reviews__write {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 48px;
    width: 175px;
    height: 52px; }
  .button.contacts__write {
    margin-top: 51px;
    width: 230px; }
  .button.order__button {
    margin-top: 2px;
    width: 230px; } }

@media (min-width: 1150px) {
  .button.reviews__write {
    margin-top: 55px; }
  .button.contacts__write {
    margin-top: 48px; }
  .button--video {
    margin-top: 46px;
    width: 230px; } }

.aboutUs {
  padding: 0 30px 10px 30px; }

.aboutUs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  font-size: 17px;
  line-height: 20px; }

.aboutUs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14px; }
  .aboutUs__item svg {
    fill: #63d1bb; }
  .aboutUs__item--flower svg {
    padding-left: 9px; }
  .aboutUs__item--money svg {
    padding-bottom: 9px; }
  .aboutUs__item--heart svg {
    padding: 2px 0 6px 8px; }
  .aboutUs__item--ball svg {
    padding-left: 3px; }
  .aboutUs__item--rocket svg {
    margin-left: -5px;
    padding-bottom: 11px; }
  .aboutUs__item--gift svg {
    padding: 0 0 3px 2px; }

@media (min-width: 768px) {
  .aboutUs {
    padding: 5px 50px 41px 50px; }
  .aboutUs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 35px; }
  .aboutUs__item {
    padding-bottom: 20px;
    width: 50%;
    font-size: 20px;
    line-height: 22px; }
    .aboutUs__item--flower {
      -webkit-box-ordinal-group: -3;
          -ms-flex-order: -4;
              order: -4; }
    .aboutUs__item--ball {
      -webkit-box-ordinal-group: -2;
          -ms-flex-order: -3;
              order: -3; }
    .aboutUs__item--money {
      -webkit-box-ordinal-group: -1;
          -ms-flex-order: -2;
              order: -2; }
    .aboutUs__item--rocket {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }

@media (min-width: 1150px) {
  .aboutUs {
    padding: 13px 225px 48px 225px; } }

.reviews::after {
  content: "";
  display: block;
  padding: 0;
  margin: 0;
  height: 6px;
  background-repeat: repeat no-repeat;
  background-size: contain;
  background-image: url("../img/bg-zigzag-line.svg"); }

.reviews__wrapper {
  padding: 0 30px; }

.reviews__item {
  margin: 0;
  padding-top: 22px; }

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  quotes: none; }

.reviews__author {
  display: block;
  padding-top: 29px;
  font-size: 17px;
  line-height: 24px;
  font-style: normal; }
  .reviews__author--nickname {
    font-weight: normal;
    line-height: 30px;
    color: #444444; }

.reviews__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 31px; }

.reviews__button {
  margin: 0;
  padding: 0;
  width: 130px;
  height: 52px;
  background-color: transparent;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  border: 1px solid #ececec;
  cursor: pointer; }
  .reviews__button--prev {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-left: none; }
  .reviews__button:hover {
    opacity: 0.6; }
  .reviews__button:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto; } }

@media (min-width: 768px) {
  .reviews::after {
    height: 15px;
    background-repeat: repeat no-repeat;
    background-size: contain; }
  .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 32px 50px 119px 50px; }
  .reviews__title {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; }
  .reviews__item {
    padding-top: 0;
    width: 645px; }
  .reviews__text {
    font-size: 17px; }
  .reviews__author {
    padding-top: 58px; }
  .reviews__button-wrapper {
    position: absolute;
    right: 53px;
    bottom: 133px; }
  .reviews__button {
    width: 85px;
    border: none; } }

@media (min-width: 1150px) {
  .reviews {
    margin: 0 50px;
    height: 457px; }
  .reviews::after {
    height: 23px;
    background-position-x: 25px; }
  .reviews__wrapper {
    padding: 25px 0 0 175px; }
  .reviews__item {
    padding-bottom: 165px;
    width: 770px; }
  .reviews__author {
    padding-top: 40px; }
  .reviews__button-wrapper {
    position: absolute;
    right: 3px;
    bottom: 98px; } }

.contacts__wrapper,
.contacts__wrapper-button {
  padding: 0 30px; }

.contacts__title {
  margin: 0;
  padding-top: 37px;
  font-size: 18px;
  line-height: 30px; }

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 26px; }

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444; }
  .contacts__item:not(:last-child) {
    padding-bottom: 30px; }

.contacts__name {
  padding-right: 30px; }

.contacts__link {
  color: #444444;
  border-bottom: 1px solid #63d1bb; }
  .contacts__link:hover {
    color: #63d1bb; }
  .contacts__link:active {
    opacity: 0.3; }

.contacts__address {
  font-style: normal; }

.contacts__map {
  position: relative;
  padding-top: 39px; }

.map-pin {
  position: absolute;
  top: 182px;
  left: 138px;
  z-index: 2;
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg"); }

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 0 90px 0 50px; }
  .contacts__wrapper-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contacts__title {
    position: relative;
    padding-top: 62px;
    font-size: 43px;
    line-height: 50px; }
    .contacts__title::after {
      content: " ";
      position: absolute;
      top: 47px;
      right: -37px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 49px; }
  .contacts__item {
    font-size: 17px;
    line-height: 30px; }
    .contacts__item:not(:last-child) {
      padding-bottom: 59px; }
  .contacts__name {
    padding-right: 22px; }
  .contacts__map {
    padding-top: 56px; }
  .map-pin {
    top: 195px;
    left: 363px; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 104px;
    padding-top: 129px;
    padding-left: 175px; }
  .contacts__title {
    padding-top: 102px;
    font-size: 53px;
    line-height: 57px; }
    .contacts__title::after {
      top: 94px;
      left: -112px; }
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 32px; }
  .contacts__item:not(:last-child) {
    padding-bottom: 30px; }
  .contacts__map {
    position: absolute;
    right: 51px;
    bottom: -4px;
    width: 525px; }
  .map-pin {
    top: 202px;
    left: 240px; }
  .contacts__wrapper-button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 50px; } }

.products {
  padding: 0 30px; }

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }

.products__item {
  padding-top: 30px;
  width: 260px; }

.products__item-image {
  display: block; }

.products__item-description {
  padding: 26px 30px 28px 27px;
  width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ececec; }
  .products__item-description:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
    .products__item-description:hover .products__item-title {
      opacity: 0.6; }
    .products__item-description:hover svg {
      fill: #63d1bb;
      opacity: 1; }
  .products__item-description:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }
    .products__item-description:active .products__item-title,
    .products__item-description:active svg {
      opacity: 0.3; }

.products__item-title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none; }

.products__item-text {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444; }

.products__item-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 19px;
  border-top: 1px solid #ececec; }

.products__item-link {
  margin: 0;
  padding: 0;
  cursor: pointer; }
  .products__item-link svg {
    fill: #231f20;
    opacity: 0.2; }

.products__item-cost {
  font-size: 15px;
  line-height: 24px; }

@media (min-width: 768px) {
  .products {
    padding: 39px 50px 0 50px; }
  .products__list {
    padding-top: 30px; }
  .products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    width: auto; }
    .products__item:not(:last-child) {
      padding-bottom: 54px; }
  .products__item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%; }
  .products__item-title {
    font-size: 20px; }
  .products__item-text {
    padding-top: 4px;
    font-size: 15px; }
  .products__item-buy {
    padding-top: 20px; }
  .products__item-cost {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .products {
    padding-top: 101px; }
  .products__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 50px;
    width: 316px;
    height: auto; }
  .products__item-image {
    width: 316px; }
  .products__item-description {
    width: 100%;
    height: 197px; }
  .products__item-text {
    padding-bottom: 0; } }

.video {
  margin: 30px;
  margin-bottom: 58px;
  border: 1px solid #ececec; }
  .video:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .video:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.video__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 39px 0 33px; }
  .video__title-wrapper svg {
    fill: #63d1bb; }

.video__title {
  margin: 0;
  padding-top: 2px;
  width: 130px;
  font-size: 17px;
  line-height: 24px; }

.video__player {
  position: relative;
  padding-top: 25px; }
  .video__player img {
    display: block; }

.video__play {
  position: absolute;
  top: 61px;
  left: 78px;
  z-index: 2;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg"); }
  .video__play:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .video__play:active {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }

.video__wrapper {
  padding: 27px 33px 32px 33px; }

.video__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444; }

@media (min-width: 768px) {
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 53px 50px 63px 50px; }
  .video__title-wrapper {
    padding: 34px 42px 0 42px; }
  .video__title {
    padding-left: 34px;
    width: 100%;
    font-size: 20px; }
  .video__player {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0; }
  .video__play {
    top: 189px;
    left: 283px; }
  .video__wrapper {
    padding: 29px 40px 45px 40px; }
  .video__text {
    font-size: 15px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .video {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 104px;
    padding: 0; }
  .video__title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 682px;
    padding: 40px 0 0 80px; }
  .video__title {
    padding: 0;
    padding-top: 22px;
    width: 148px; }
  .video__player {
    position: absolute;
    top: 0;
    left: 0; }
  .video__play {
    left: 290px; }
  .video__wrapper {
    margin-left: 682px;
    padding: 34px 57px 60px 78px; } }

.order {
  padding: 0 30px 16px 30px; }

.order__fieldset {
  margin: 0;
  padding: 0;
  border: none; }
  .order__fieldset--color {
    padding-top: 20px; }

.order__fieldset-name {
  position: relative;
  padding: 0;
  padding-top: 23px;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }
  .order__fieldset-name::after {
    content: " ";
    position: absolute;
    top: 30px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb; }
  .order__fieldset-name--group {
    padding-top: 40px; }
    .order__fieldset-name--group::after {
      top: 48px; }
  .order__fieldset-name--contacts {
    padding-top: 31px;
    padding-bottom: 9px; }
    .order__fieldset-name--contacts::after {
      top: 40px; }
  .order__fieldset-name--email::after {
    left: 80px;
    width: 179px; }
  .order__fieldset-name--comment {
    padding-top: 33px; }
    .order__fieldset-name--comment::after {
      top: 40px; }

.order__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 34px; }
  .order__list--group {
    padding-top: 28px; }

.order__list-item--radio:not(:last-child) {
  padding-bottom: 25px; }

.order__list-item--checkbox:not(:last-child) {
  padding-bottom: 39px; }

.order__label {
  position: relative;
  font-size: 17px;
  line-height: 18px; }
  .order__label input[type="radio"] + .radio-indicator,
  .order__label input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -10px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #444444;
    cursor: pointer; }
  .order__label input[type="radio"] + .radio-indicator {
    border-radius: 50%; }
  .order__label input[type="radio"]:checked + .radio-indicator::after {
    content: " ";
    position: absolute;
    top: 11px;
    left: 10px;
    width: 16px;
    height: 16px;
    background-color: #63d1bb;
    border-radius: 50%; }
  .order__label input[type="checkbox"]:checked + .checkbox-indicator::before,
  .order__label input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: " ";
    position: absolute;
    width: 3px;
    background-color: #444444;
    border-radius: 20%; }
  .order__label input[type="checkbox"]:checked + .checkbox-indicator::before {
    top: 19px;
    left: 10px;
    height: 11px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .order__label input[type="checkbox"]:checked + .checkbox-indicator::after {
    top: 11px;
    left: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .order__label--checkbox {
    padding-left: 62px; }
  .order__label:hover input[type="radio"] + .radio-indicator,
  .order__label:hover input[type="checkbox"] + .checkbox-indicator {
    border-color: #63d1bb; }
  .order__label input[type="radio"]:disabled + .radio-indicator,
  .order__label input[type="checkbox"]:disabled + .checkbox-indicator {
    border-color: rgba(68, 68, 68, 0.3); }

.order__label-text {
  margin: 0;
  padding-left: 62px;
  width: 155px; }

.order__input-item:not(:last-child) {
  margin-bottom: 20px; }

.order__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 50px;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000; }
  .order__input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__input:-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__input::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__input:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__input:hover, .order__input:focus {
    border-bottom: 2px solid #63d1bb;
    outline: none; }
  .order__input--tel::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 18px; }
  .order__input--tel:-moz-placeholder {
    font-size: 19px;
    line-height: 18px; }
  .order__input--tel::-moz-placeholder {
    font-size: 19px;
    line-height: 18px; }
  .order__input--tel:-ms-input-placeholder {
    font-size: 19px;
    line-height: 18px; }

.order__input-icon {
  display: none; }

.order__comment {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 23px;
  padding: 17px;
  width: 260px;
  color: #444444;
  border: 2px solid #444444; }
  .order__comment::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__comment:-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__comment::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__comment:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order__comment:hover, .order__comment:focus {
    border-color: #63d1bb;
    outline: none; }

.order__text {
  margin: 0;
  padding-top: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444; }

.order__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold; }

@media (min-width: 768px) {
  .order {
    padding: 0; }
  .order__fieldset {
    margin-top: 50px;
    padding: 0 50px; }
    .order__fieldset--color {
      margin-top: 69px;
      padding: 45px 25px 14px 50px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #f1f1f1; }
    .order__fieldset--tel {
      padding-top: 50px;
      background-color: #f1f1f1; }
    .order__fieldset--email {
      margin: 0;
      padding: 24px 50px 48px 50px;
      background-color: #f1f1f1; }
  .order__fieldset-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .order__fieldset-name {
    width: 165px; }
    .order__fieldset-name--group {
      padding-top: 18px; }
    .order__fieldset-name--contacts {
      padding-top: 17px;
      padding-bottom: 20px; }
    .order__fieldset-name--comment {
      padding-top: 17px; }
    .order__fieldset-name::after {
      display: none; }
  .order__list {
    padding-top: 22px; }
    .order__list--color {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-top: 20px;
      width: 525px; }
    .order__list--group {
      width: 100%;
      padding-top: 2px; }
  .order__list-item--radio:not(:last-child) {
    padding-bottom: 58px; }
  .order__list-item--checkbox {
    width: 50%; }
    .order__list-item--checkbox:not(:last-child) {
      padding-bottom: 53px; }
  .order__label {
    font-size: 19px;
    line-height: 18px; }
    .order__label input[type="radio"] + .radio-indicator {
      top: -14px;
      width: 49px;
      height: 47px; }
    .order__label input[type="checkbox"] + .checkbox-indicator {
      top: -12px;
      left: 1px;
      width: 50px;
      height: 49px; }
    .order__label--checkbox {
      padding-left: 82px; }
    .order__label--group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 35px; }
    .order__label input[type="radio"]:checked + .radio-indicator::after {
      top: 12px;
      left: 15px;
      width: 22px;
      height: 22px; }
    .order__label input[type="checkbox"]:checked + .checkbox-indicator::before {
      top: 23px;
      left: 16px;
      height: 16px; }
    .order__label input[type="checkbox"]:checked + .checkbox-indicator::after {
      top: 11px;
      left: 31px;
      height: 28px; }
  .order__label-text {
    padding-left: 83px;
    width: 100%; }
  .order__input {
    padding: 0 60px 0 17px;
    background-color: transparent; }
    .order__input--group {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin-left: 26px; }
    .order__input--tel, .order__input--email {
      width: 501px; }
    .order__input::-webkit-input-placeholder {
      font-size: 19px;
      line-height: 18px; }
    .order__input:-moz-placeholder {
      font-size: 19px;
      line-height: 18px; }
    .order__input::-moz-placeholder {
      font-size: 19px;
      line-height: 18px; }
    .order__input:-ms-input-placeholder {
      font-size: 19px;
      line-height: 18px; }
  .order__input:hover + .order__input-icon,
  .order__input:focus + .order__input-icon {
    fill: #63d1bb;
    opacity: 1; }
  .order__input-item:not(:last-child) {
    margin-bottom: 26px; }
  .order__input-icon {
    position: absolute;
    top: 10px;
    right: 22px;
    display: block;
    opacity: 0.2; }
    .order__input-icon--tel {
      top: 11px;
      right: 26px; }
  .order__comment {
    margin: 0;
    width: 501px; }
    .order__comment::-webkit-input-placeholder {
      font-size: 19px;
      line-height: 18px; }
    .order__comment:-moz-placeholder {
      font-size: 19px;
      line-height: 18px; }
    .order__comment::-moz-placeholder {
      font-size: 19px;
      line-height: 18px; }
    .order__comment:-ms-input-placeholder {
      font-size: 19px;
      line-height: 18px; }
  .order__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 50px;
    padding-top: 50px; }
  .order__text {
    padding-top: 6px;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .order__fieldset {
    padding: 0 110px; }
    .order__fieldset--color {
      padding: 55px 50px 50px 110px;
      height: 228px; }
    .order__fieldset--group {
      padding-right: 225px; }
    .order__fieldset--tel {
      padding-top: 53px; }
    .order__fieldset--email {
      margin: 0;
      padding: 24px 110px 47px 110px; }
  .order__fieldset-name {
    padding-top: 10px;
    width: 115px; }
    .order__fieldset-name--color {
      width: 130px; }
    .order__fieldset-name--group {
      padding-top: 17px;
      width: 90px; }
    .order__fieldset-name--contacts {
      padding-top: 16px; }
    .order__fieldset-name--comment {
      padding-top: 18px; }
  .order__list {
    padding-top: 8px; }
    .order__list--color {
      width: 100%; }
    .order__list--group {
      padding-top: 0; }
  .order__list-item--checkbox {
    width: 30%; }
  .order__label input[type="radio"]:checked + .radio-indicator::after {
    left: 13px; }
  .order__input--tel, .order__input--email {
    width: 700px; }
  .order__input-icon {
    top: 9px;
    right: 120px; }
    .order__input-icon--tel {
      right: 123px; }
  .order__comment {
    width: 700px; }
  .order__bottom {
    margin: 0 225px;
    padding-top: 48px; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
  padding: 30px 30px 23px 30px;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid #ececec; }
  .copyright__link svg {
    fill: #63d1bb; }
  .copyright__link:hover svg {
    fill: #46c1ae; }
  .copyright__link:active {
    opacity: 0.3; }

.copyright__text {
  padding-right: 30px;
  font-size: 19px;
  line-height: 18px;
  color: #000000; }

@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 55px;
    padding: 35px 50px 30px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .page-footer__logo {
    display: block;
    padding-right: 80px; }
    .page-footer__logo:hover svg {
      fill: #46c1ae; }
    .page-footer__logo:active svg {
      opacity: 0.3; }
  .copyright__link {
    padding-top: 0;
    width: auto;
    border: none; } }

@media (min-width: 1150px) {
  .page-footer {
    margin: 50px auto 0 auto;
    max-width: 1150px; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px; }

.social__item {
  padding: 0 18px; }

.social__link {
  width: 23px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center; }
  .social__link:hover svg {
    fill: #46c1ae; }
  .social__link:active svg {
    opacity: 0.3; }

@media (min-width: 768px) {
  .social__list {
    padding-top: 25px; } }

.modal__order {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  padding: 28px 30px;
  height: 336px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.modal--show {
  display: block; }

.modal__order-title {
  margin: 0;
  padding: 0 54px;
  width: 150px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

.modal__order-text {
  margin: 0;
  padding: 10px 0 10px 61px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444; }

.modal__order-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27px;
  padding-bottom: 20px; }

.modal__order-input:hover + .modal__order-label {
  border: 2px solid rgba(68, 68, 68, 0.3); }

.modal__order-input:checked + .modal__order-label,
.modal__order-input:active + .modal__order-label {
  border: 2px solid #63d1bb; }

.modal__order-label {
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
  border: 2px solid rgba(68, 68, 68, 0.1); }
  .modal__order-label--s {
    margin-right: 7px;
    padding: 13px 34px; }
  .modal__order-label--m {
    margin-right: 7px;
    padding: 13px 30px; }
  .modal__order-label--l {
    padding: 13px 33px; }

.modal__button {
  margin-bottom: 10px;
  padding: 18px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: white;
  background-color: #63d1bb;
  border: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }

.overlay--show {
  display: block; }

@media (min-width: 768px) {
  .modal__order {
    margin: 0 auto;
    padding: 32px 50px;
    width: 554px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .modal__order-wrapper {
    padding-left: 56px; }
  .modal__order-title {
    padding: 0 0 0 6px;
    width: 100%;
    font-size: 30px;
    line-height: 57px; }
  .modal__order-text {
    padding: 12px 0 9px 150px;
    font-size: 17px;
    line-height: 30px; }
  .modal__order-label--s {
    padding: 13px 48px; }
  .modal__order-label--m {
    padding: 13px 44px; }
  .modal__order-label--l {
    padding: 13px 48px; }
  .modal__button {
    margin-left: 55px;
    width: 350px; } }

/*# sourceMappingURL=style.css.map */
