.button {
  margin-top: 28px;
  padding: 20px 0px;
  width: 260px;
  display: inline-block;
  box-sizing: border-box;

  color: $greyish-brown;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 2px solid $greyish-brown;

  cursor: pointer;

  &--video {
  width: 192px;
  }
}
