.products {
  padding-left: $indent;
}

.products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__item {
  padding-top: $indent;
}

.products__item-image {
  display: block;
}

.products__item-description {
  padding: $indent;
  width: 260px;

  box-sizing: border-box;

  border: 1px solid #ececec;
}

.products__item-title {
  @include text-size(17px, 24px);
  color: #000;
  text-decoration: none;
}

.products__item-text {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 55px;

  @include text-size(13px, 30px);
  font-weight: $weight;
  color: $greyish-brown;
}

.products__item-cost {
  @include text-size(15px, 24px);
}
