.promo__button {
  box-sizing: border-box;
  display: block;

  width: 320px;
  height: 103px;
  padding-top: 30px;
  padding-left: 29px;

  @include text-size(19px, 24px);
  color: #fff;
  text-decoration: none;

  background-color: $primary-color;

  &--lego {
  background-color: #56c3b2;
  }
}
